@charset "UTF-8";

* {
  font-family: arial, sans-serif;
  /*height: 100%; */
}

body {
  background-image: linear-gradient(to right, #F2C9C9, #F28D77);

}

main {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgb(100, 12, 6);
  width: 600px;
  padding: 10px;
  margin: auto;

}

h1 {
  color: #DB2C1F;
  text-align: center;
  text-shadow: 1px 1px 2px #470a04b2;
}

h2 {
  color: #96D2D9;

}

p {
 text-align:justify ;

}